<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hdftest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>731D22391BC8CC4700273F84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>731D224D1BC8CC4800273F84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>731D22581BC8CC4800273F84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
